/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

/*variables*/
:root{
    --main-color: rgb(172, 170, 79);
    --dark: rgb(0, 0, 0);
    --dark-light: #829b85;
    --white: rgb(230, 230, 230);
    --white-light: #d6caca;
    --shadow: 0 0 15px rgba(0,0,0,0.25);
    --cursive-font: 'Dancing Script', cursive;
    scroll-behavior: smooth;

}


/* global setting */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::before,
::after{
    box-sizing:border-box
}

body{
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color:var(--white-light);
   
}


img { 
    vertical-align: middle;
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1{
    font-weight: 700;
    color:var(--white);
}

h2{
    font-weight: 600;
    color:var(--white);
}
h3,
h4,
h5,
h6{
    font-weight: 500;
    color:var(--white);
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.min-vh-100{
    min-height: 100vh;
}

.sec-padding{
    padding:80px 0;
}

/*section title*/
.section-title{
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 35px;
    
}

.section-title h2::before{
    content:attr(data-title);
    display: block;
    font-size: 24px;
    color: var(--main-color);
    font-family: var(--cursive-font);
    font-weight: 400;
}

/*Button*/
.btn{
    display: inline-block;
    padding:10px 30px;
    background-color: transparent;
    border-radius: 30px;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color:var(--main-color);
    line-height: 1.5;
    user-select: none;
    border: none;    
}

.btn-default{
    border: 2px solid var(--main-color);
}

.btn-default:hover{
    color:var(--white);
    background-color: var(--main-color)
}



/*header*/
.header{
    padding: 12px 0; 
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width:100%;
}

.header::before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:var(--dark-light);
    box-shadow: var(--shadow);
    z-index: -1;
    transition: transform 0.5s ease;
    transform: translateY(-100%);   
}

.header.sticky::before{
    transform: translateY(0%);
}

.header .logo {
    
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 0px; 
    width: 0px;
    opacity: 0.8;


   
}
.header .nav-toggler{
    height: 34px;
    width: 44px;
    margin-right: 15px ;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
}

.header .nav-toggler.active{
    position:absoute;
    right:0;
    z-index:1;
    transition: all 0.5s ease;   
    transform: translateX(-200px);
}


.header .nav-toggler span{
    height: 2px;
    width: 30px;
    display: block;
    background-color: white;
    position: relative;
}

.header .nav-toggler.active span{
    background-color: transparent;
    transition: background-color 0.5s ease  ;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position:absolute;
    left: 0 ;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:var(--white);
}

.header .nav-toggler span::before{
    transform: translateY(-8px);    
}

.header .nav-toggler.active span::before{
    transform: rotate(45deg);
    transition: transform 0.5s ease;
}

.header .nav-toggler span::after{
    transform: translateY(8px);
}

.header .nav-toggler.active span::after{
    transform: rotate(-45deg);
    transition: transform 0.5s ease;
    

}

.header .nav{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 315px;
    background-color: var(--dark-light);
    box-shadow: var(--shadow);
    overflow-y: auto;
    padding: 80px 0px 40px;
    transition: transform 0.5s ease;
    transform: translateX(100%)
}

.header .nav.open{
    transform: translateX(0%)    
}


.header .nav ul li a{
    display: block;
    font-size: 25px;
    color:var(--white);
    padding: 10px 30px;
    text-transform: capitalize;
    transition: color 0.3s ease;    
}

.header .nav ul li a:hover{
    color:var(--main-color);
}

/*Home section*/
.home-section{
  position: relative;
  overflow: hidden;
}

.home-section::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}


.home-section .home-bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('./images/homepageimage.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -2;
    
}

.home-section .min-vh-100{
    padding: 100px 0;
}

.home-text{
    padding: 0 15px;
    max-width: 700px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.home-text h1{
    font-family:var(--cursive-font);
    font-size: 60px;
    line-height: 75px;
    margin: 0 0 5px;
}

.home-text p{
    margin: 0 0 30px;

}


/*about us section*/
.about-section{
    background-color: var(--dark-light);
}

/*menu section (developmental phase)*/
.menu-section{
    background-color: rgb(185, 167, 0);
    
   
}
.menu-section p{
    color: rgb(0, 0, 0);
    font-family: var(--cursive-font);
    font-size: 40px;
    padding: 0px 100px;
}

/*reservation section (developmental phase)*/
.reservation-section{
    background-color: rgb(185, 167, 0);
}

.reservation-section p{
    color: rgb(0, 0, 0);
    font-family: var(--cursive-font);
    font-size: 40px;
    padding: 0px 100px;
}

/*footer section*/

.footer{
    padding:80px 0px;
    background-image: url(./images/b1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 1; 
 }

 .footer::before{
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     width:100%;
     height:100%;
     background-color: rgb(0, 0, 0, 0.6);  
     z-index: -1;       
 }

 .footer-item{
     width: calc(100% / 3);
     padding: 0 15px;
     text-align: center;
 }
 .footer-item h3{
     font-size: 22px;
     margin: 0 0 15px;
 }

 .footer-item p{
     line-height: 30px;
 }